<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style2.css">

    <title>SafeReturnAdmin</title>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var links = document.querySelectorAll(".side-menu a");

            links.forEach(function (link) {
                if (link.getAttribute("href") === window.location.pathname) {
                    link.parentNode.classList.add("active");
                }
            });
        });
    </script>

</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Safe Return Admin</span>
        </a>
        <ul class="side-menu top">
            <li class="activee">
                <a href="/home">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Overview</span>
                </a>
            </li>
            <li>
                <a href="/childerenInfo">
                    <i class='bx bx-info-circle'></i>
                    <span class="text">Children Information</span>
                </a>
            </li>
            <li>
                <a href="/foundChildren">
                    <i class='bx bx-male'></i>
                    <span class="text">Found Children</span>
                </a>
            </li>
            <li>
                <a href="/missingReport">
                    <i class='bx bxs-report'></i>
                    <span class="text">Missing Reports</span>
                </a>
            </li>
            <li>
                <a href="/foundReport">
                    <i class='bx bxs-report'></i>
                    <span class="text">Found Reports</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="/search" method="post">
                <div class="form-input">
                    <input type="search" placeholder="Search..."  name="word" >
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>


            </form>
            <input type="checkbox" id="switch-mode" hidden>

            <div class="notification-wrapper">
                <a href="/notification" class="notification" id="notificationIcon">
                    <i class="bx bxs-bell"></i>
                    <span class="num" id="notificationCount">0</span>
                </a>
            </div>
            <a href="#" class="profile">
                <img src="/img/admin.jpg">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->`