<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/signUp.css">

    <title>Sign Up</title>
</head>
<body>
    <div class="container" id="container">
    <div class="form-container sign-up">
        <form method="post" action="/handleRegister">
            <h1>Create Account</h1>
            <div class="social-icons">
                <a href="/google" class="icon1" onclick=""><i class="fa-brands fa-google-plus-g"></i></a>
                <!-- <a href="#" class="icon1" onclick="loginwithgoogle()"><i class="fa-brands fa-google-plus-g"></i></a> -->
                <!-- <a href="#" class="icon1" onclick={loginwithgoogle}><i class="fa-brands fa-google-plus-g"></i></a> -->
                <a href="/facebook" class="icon2"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <input type="text" placeholder="username" name="userName">
                <% if (error.find((val)=> val.path[0]=='userName')?.message) { %>
                    <div class="alert alert-danger">
                        <%= error.find((val)=> val.path[0]=='userName')?.message %>
                    </div>
                <% } %>
                <input type="email" placeholder="email" name="email">
                <% if (error.find((val)=> val.path[0]=='email')?.message) { %>
                    <div class="alert alert-danger">
                        <%= error.find((val)=> val.path[0]=='email')?.message %>
                    </div>
                <% } %>
                <input type="password" placeholder="password" name="password">
                <% if (error.find((val)=> val.path[0]=='password')?.message) { %>
                    <div class="alert alert-danger">
                        <%= error.find((val)=> val.path[0]=='password')?.message %>
                    </div>
                <% } %>
                <input type="password" placeholder="confirm password" name="confirmPassword">
                <% if (error.find((val)=> val.path[0]=='confirmPassword')?.message) { %>
                    <div class="alert alert-danger">
                        <%= error.find((val)=> val.path[0]=='confirmPassword')?.message %>
                    </div>
                <% } %>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome To SafeReturn!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login" onclick=`${window.location.href='/signIn'}`>Sign In</button>
            </div>
        </div>
    </div>
</div>
    </body>
</body>
</html>